
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# generated user settings for project 
*.pro.user.*
*.pro.user
/mytests
moduletests.pro.*

/old-suite
